{% extends "layout.html" %}
{% block content %}
{% if session.logged_in %}
    {% endif %}
    <h3>User: {{ user.full_name }}</h3>
  <ul class=entries>
    {% for entry in data %}
    <li>{{ entry[0] }} - {{ entry[1] }} {{ entry[3] }}@{{ entry[2] }}p = {{ entry[4] }}
    {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  <form action="{{ url_for('index') }}" method=post class=add-entry>
      <dl>
        <dt>Product:
        <dd><input type=text size=32 name=title>
        <dt>Quantity:
        <dd><input type=text size=5 />        
        <dd><input type=submit value=Share>
      </dl>
  </form>
  # Source:http://jqueryui.com/demos/autocomplete/#multiple-remote
	    
{% endblock %}

