{% extends "layout.html" %}
{% block head %}
    {{ super() }}

    <script language="javascript" type=text/javascript src="{{
        url_for('static'), filename='jquery.js') }} ></script>
    <script language="javascript" type=text/javascript src="{{
        url_for('static'), filename='jquery.coolautosuggest.js') }} ></script>
    <script>
        $("#product").coolautosuggest({
            url:"data.php?chars=",
            idField:$("#id")
        });
    </script>
{%endblock %}
{% block content %}
{% if session.logged_in %}
<form action="{{ url_for('list_data') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type='text' size=30 name='product' />
        <dt>Text:
        <dd><input name='quantity' type='text' size=2 />
        <dd><input name='id' type='hidden' size=2 />
        <dd><input type=submit value='Update'>
      </dl>
    </form>
{% endif %}
{{ user.full_name }}
<ul class=entries>
    {% for entry in data %}
        <li><h2>{{ entry.product_id }}</h2>{{ entry.quantity }}
    {% else %}
<li><em>Unbelievable.  No entries here so far</em>
{% endfor %}
  </ul>
{% endblock %}
{% block footer %}
    Test
{% endblock %}

