<!doctype HTML>
<html lang="da">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <link rel="stylesheet" href="layout.css" />
    {% block head %}
    <title>{% block title %}{% endblock %} {% if user %}{{ user.full_name }}
        {% endif %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by 
        <a href="http://blackdesign.dk/">
            BlackDesign
        </a>.
        {% endblock %}
    </div>
</body>
{% macro input(name, value=’’, type=’text’, size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{ value|e }}"
size="{{ size }}">
<input type="{{ type }}" name="{{ name }}"  value="{{ value|e }}" 
size="{{ size }}">

{%- endmacro %}
